<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prayfirst">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.prayfirst.SetAlarmActivity"></activity>
        <activity android:name="com.example.prayfirst.AddCalendarActivity">

        </activity>
        <activity android:name="com.example.prayfirst.PrayerActivity" >
            <!-- TODO: Debugging -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- TODO: Debugging -->
        </activity>
        <activity android:name="com.example.prayfirst.LoadingActivity" />
        <activity android:name="com.example.prayfirst.RegisterActivity" />
        <activity android:name="com.example.prayfirst.LoginActivity">

            <!-- TODO:This is the filter -->

        </activity>
    </application>

</manifest>